/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* END RESET */

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f1f1f;
  font-family: ProductSansRegular;
  font-size: 1.2rem;
}

h1 {
  font-family: ProductSansBold;
}

h2,
h3 {
  line-height: 1;
}

a {
  cursor: pointer;
}

@font-face {
  font-family: "ProductSansRegular";
  src: local("ProductSansRegular"),
    url("./fonts/Product-Sans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ProductSansBold";
  src: local("ProductSansBold"),
    url("./fonts/Product-Sans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ProductSansItalic";
  src: local("ProductSansItalic"),
    url("./fonts/Product-Sans-Italic.ttf") format("truetype");
}
